@font-face {
    font-family: Circular;
    src: url('https://flows-static.onrender.com/fonts/circular/files/CircularStd-Medium.otf') format ('otf');
    font-weight: 500;
    font-style: normal;
}



