@font-face {
    font-family: Graphik;
    src: url('/files/GraphikBlack.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikBlackItalic.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikBold.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikBoldItalic.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikExtralight.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikExtralightItalic.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikLight.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikLightItalic.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikMedium.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikMediumItalic.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikRegular.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikRegularItalic.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikSemibold.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikSemiboldItalic.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikSuper.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikSuperItalic.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikThin.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Graphik;
    src: url('/files/GraphikThinItalic.otf');
    format: ('otf');
    font-display: swap;
    font-weight: 100;
    font-style: italic;
}

